<h1><%= @id %></h1>

<a href="/user/<%= @gossips.user.first_name %>"><%= @gossips.user.first_name%></a>
<p>Titre : <%= @gossips.title %></p>
<p><%= @gossips.content %></p>
<p>Date de création : <%= @gossips.created_at  %></p>
